@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;
  --primary-color-black: #000;
  --primary-color-white: #fff;
  --accent-color-red: #be0027;
  --accent-color-orance: #cf8d2e;
  --accent-color-yellow: #e4e932;
  --accent-color-green: #2c9f45;
  --accent-color-blue: #371777;
  --accent-color-purple: #52325d;
  --accent-color-purple-dark: #511378;
}

body{
  margin:0px;
}