.menpopular{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.menpopular-title{
    padding: 0 15px;
    margin: 0 80px;
    display: flex;
    align-items: center;
}

.menpopular-title h2{
    margin-bottom: 0px;
    font-family: var(--font-family);
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
}

.menpopular-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px;
        margin: 0 80px;

}
.menpopular-content-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menpopular-content-category{
    width: 25%;
    margin-bottom: -1px;
    padding-bottom: 6.5px;

}

.menpopular-line{
    outline: solid black 1px;
}

.menpopular-content-category:hover .menpopular-line{
    outline: solid black 5px;
}


.menpopular-content-category p{
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;

    margin-bottom: 5px;
}

@media screen and (min-width:1440px) {
    .menpopular-content-category p{
        font-size: 36px;
    }
    
}

