.story{
    margin-top: 10px;
    padding: 80px 0px;
    display: flex;
    background-color:#ecebdf ;
    width: 100%;
    flex-direction: column;
    

}

.story-colume{
    display: flex;
    justify-content: space-between;
    
}

.story-colume h1:first-child{
    width: 40%;
    padding-left: 15px;
    margin-left: 80px;
    margin-right: 5px;
}

.story-colume h1:last-child {
    width: 40%;
    padding-right: 15px;
    margin-right: 80px;
    margin-left: 5px;
}


.story-colume p:first-child {
    width: 40%;
    padding-left: 15px;
    margin-left: 80px;
    margin-right: 5px;
}

.story-colume p:last-child {
    width: 40%;
    padding-right: 15px;
    margin-right: 80px;
    margin-left: 5px;
}

.story-title{
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.story-content-1{
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
    opacity: 70%;
}

.story-content-2{
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
    opacity: 70%;

}